<mat-card>
    <mat-card-header>
      <mat-card-title>Liste des messages</mat-card-title>
    </mat-card-header>
  
    <mat-card-content>
      @if (isLoading) {
        <div class="spinner-container">
          <mat-spinner diameter="50"></mat-spinner>
        </div>
      } @else {
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          
          <!-- Message ID Column -->
          <ng-container matColumnDef="messageId">
            <th mat-header-cell *matHeaderCellDef>Message ID</th>
            <td mat-cell *matCellDef="let message">{{message.messageId}}</td>
          </ng-container>
  
          <!-- Content Column -->
          <ng-container matColumnDef="messageContent">
            <th mat-header-cell *matHeaderCellDef>Content</th>
            <td mat-cell *matCellDef="let message">{{message.messageContent}}</td>
          </ng-container>
  
          <!-- Correlation ID Column -->
          <ng-container matColumnDef="correlationId">
            <th mat-header-cell *matHeaderCellDef>Correlation ID</th>
            <td mat-cell *matCellDef="let message">{{message.correlationId}}</td>
          </ng-container>
  
          <!-- Timestamp Column -->
          <ng-container matColumnDef="messageTimestamp">
            <th mat-header-cell *matHeaderCellDef>Timestamp</th>
            <td mat-cell *matCellDef="let message">{{message.messageTimestamp | date:'dd/MM/yyyy HH:mm' }}</td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let message; columns: displayedColumns;" (click)="getMessageDetails(message.messageId)"></tr>
        </table>
  
        <mat-paginator [length]="pagination.totalItems"
                      [pageSize]="pagination.pageSize"
                      [pageIndex]="pagination.currentPage"
                      [pageSizeOptions]="[10, 20, 50]"
                      (page)="onPageChange($event)">
        </mat-paginator>
      }
    </mat-card-content>
  </mat-card>