@import "@fontsource/material-icons"; /* Inclut les icônes Material standard */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.snackbar-success {
    color: #fff !important;
  }
  
  .snackbar-error {
    background-color: #f44336 !important; 
    color: #fff !important;
  }
  
  